<!DOCTYPE html>
<html lang="pl">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Calculator</title>
</head>

<body>
  <div class="wrapper">
    <div class="calculator">
      <div class="calculator__main">
        <input class="calculator__main-display" value="0.00">
        <!-- <div class="calculator__main-display">0.00</div> -->
        <div class="calculator__main-memory">
          <div class="calculator__main-memory-item">MC</div>
          <div class="calculator__main-memory-item">MR</div>
          <div class="calculator__main-memory-item">M+</div>
          <div class="calculator__main-memory-item">M-</div>
          <div class="calculator__main-memory-item">MS</div>
        </div>
        <div class="calculator__main-buttons">
          <div class="calculator__main-buttons-item operator" data-option="%">%</div>
          <div class="calculator__main-buttons-item" data-option="CE">CE</div>
          <div class="calculator__main-buttons-item clear" data-option="C">C</div>
          <div class="calculator__main-buttons-item" data-option="<=">
            <=</div> <div class="calculator__main-buttons-item operator" data-option="1/x">1/x
          </div>
          <div class="calculator__main-buttons-item operator" data-option="x(2)">x(2)</div>
          <div class="calculator__main-buttons-item operator" data-option="sqrt">sqrt</div>
          <div class="calculator__main-buttons-item operator " data-option="/">/</div>
          <div class="calculator__main-buttons-item numbers " data-option="7">7</div>
          <div class="calculator__main-buttons-item numbers" data-option="8">8</div>
          <div class="calculator__main-buttons-item numbers" data-option="9">9</div>
          <div class="calculator__main-buttons-item operator" data-option="*">*</div>
          <div class="calculator__main-buttons-item numbers" data-option="4">4</div>
          <div class="calculator__main-buttons-item numbers" data-option="5">5</div>
          <div class="calculator__main-buttons-item numbers" data-option="6">6</div>
          <div class="calculator__main-buttons-item operator" data-option="-">-</div>
          <div class="calculator__main-buttons-item numbers" data-option="1">1</div>
          <div class="calculator__main-buttons-item numbers" data-option="2">2</div>
          <div class="calculator__main-buttons-item numbers" data-option="3">3</div>
          <div class="calculator__main-buttons-item operator" data-option="+">+</div>
          <div class="calculator__main-buttons-item operator" data-option="+/-">+/-</div>
          <div class="calculator__main-buttons-item numbers" data-option="0">0</div>
          <div class="calculator__main-buttons-item numbers" data-option=".">.</div>
          <div class="calculator__main-buttons-item operator" data-option="=">=</div>
        </div>
      </div>

    </div>
  </div>

</body>

</html>